@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card:before {
  content: "";
  position: absolute;
  height: 96px;
  width: 192px;
  margin: auto;
  background-color: #2C7ABC;
  left: 0;
  right: 0;
  top: 0px;
  transition: width 0.5s, height 0.5s 0.5s;
  z-index: 1;
}

.card::after {
  content: "";
  position: absolute;
  height: 96px;
  width: 192px;
  background-color: #2C7ABC;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 32px;
  z-index: 1;
  transition: width 0.5s, height 0.5s 0.5s;
}

.card:hover:before,
.card:hover:after {
  width: 0;
  height: 8px;
  transition: height 0.5s, width 0.5s 0.5s;
}

.flip-card {
  perspective: 1000px;
}
.flip-card.clicked .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-inner {
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}

.result-bg {
  animation: fadeIn .7s ease-in;
}
.result-text {
  animation: slider 1.5s ease-in-out;
}
.play-again {
  animation: slideOut .8s ease-in-out 2s forwards, pulse 2s 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slider {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes slideOut {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 4.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}